@charset "UTF-8";
body {
  color: #757575;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  font-size: 14px;
  margin: 0;
}

h1 {
  color: #FFFFFF;
}

h2, h3 {
  color: #212121;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

a {
  cursor: pointer;
}

/* button  все общие стили для всех кнопок*/
.button {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  min-width: 200px;
  height: 50px;
  border: transparent;
  border-radius: 4px;
  background-color: #2196F3;
  padding: 10px 28px;
  cursor: pointer;
}

.button:focus {
  outline: 1px solid #2196F3;
}

.radio-button {
  display: inline-block;
  background-color: #F5F4FA;
  color: #212121;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  min-width: 73px;
  height: 38px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-button:focus {
  outline: 1px solid #2196F3;
}

.radio-button:hover, .radio-button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo:focus {
  color: #2196F3;
}

.logo-accent {
  color: #2196F3;
}

.header-page {
  display: block;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ECECEC;
}

.container.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80px;
}

.site-nav .item + .item {
  margin-left: 45px;
}

.site-nav-links {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  padding-bottom: 32px;
  padding-top: 32px;
}

.site-nav-links.active {
  color: #2196F3;
  position: relative;
}

.site-nav-links.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  position: absolute;
  bottom: 0;
}

.site-nav-links:hover, .site-nav-links:focus {
  color: #2196F3;
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contact-nav .item + .item {
  margin-left: 30px;
}

.contact-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav-links:hover, .contact-nav-links:focus {
  color: #2196F3;
}

.contact-svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
  background-position: center;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav-links:hover .contact-svg,
.contact-nav-links:focus .contact-svg {
  fill: #2196F3;
}
/*# sourceMappingURL=main.css.map */