.feauter .container {

    padding-top: 94px;
    padding-bottom: 94px;
  
}

.feauter-points  {

    display: flex;
}


.feauter-item {
    .feauter-points & + & {
        margin-left: 30px;
    }
    .feauter-points & {
        width: calc((100% - 90px) / 3);
    }
}

.feauter-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-top: 0px;
    margin-bottom: 10px;

}


.feauter-svg {

    width: 70px;
    height: 70px;

}

.feauter-bg {

    background-color: #F5F4FA;
    border-radius: 4px;

    text-align: center;

    height: 120px;
    padding-top: 25px ;
    margin-bottom: 30px;

}


.feauter-description {

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    margin:0;

}
