.header-page  {
    display: block;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ECECEC;
 }

.container.main-nav {

    display: flex;
    align-items: center;
}



.site-nav {
    display: flex;
    margin-left: 80px;

    .item +.item {
        margin-left: 45px;
    }
}

.site-nav-links {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: $title-text-color;

    padding-bottom: 32px;
    padding-top: 32px;

    &.active {
        color: $accent-color;
        position: relative;
    }
    &.active::after {
        content: "";
    
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
    
        position: absolute;
        bottom: 0;
    }
    &:hover,
    &:focus {
        color: $accent-color;
    }          
}

.contact-nav {
    display: flex;
    margin-left: auto;

    .item +.item {
        margin-left: 30px;
    }
}

.contact-nav-links {

    display: flex;

    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px; 
    
    transition: color $animation-timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
    
}


.contact-svg {

    align-self: center;

    margin-right: 10px;
    background-position: center;

    fill: $primary-text-color;
    
    transition: $animation-timing-function;

    .contact-nav-links:hover &,
    .contact-nav-links:focus & {
       fill: $accent-color;
   }
}
 
