.team {

    background-color: #F5F4FA;
}

.team .container {

   padding-top: 94px;
   padding-bottom: 94px;

}

.teamlist  {

    display: flex;

}

.team-card {

    width: calc((100% - 90px / 4));

    background-color: $primary-white-color;
    border-radius: 4px;
     box-shadow: 
     0px 2px 1px rgba(0, 0, 0, 0.2), 
     0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 1px 3px rgba(0, 0, 0, 0.12);

     & + & {
         margin-left: 30px;
     }

}

// .team-card + .team-card {

//     margin-left: 30px;
// }

.team-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;

    margin-top: 0;
    margin-bottom: 50px;

}

.team-name {

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;

    margin-top: 0;
    margin-bottom: 10px;
}

.team-photo {

    margin-bottom: 30px;
}

.team-profession {

    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 28px;
}
