h1 {
    color: $primary-white-color;
}

h2, h3 {
    color: $title-text-color;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

a {
    cursor: pointer;
}
/* button  все общие стили для всех кнопок*/

.button {
    display: inline-block;
    
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: $primary-white-color;

    min-width: 200px;
    height: 50px;
    border: transparent;
    border-radius: 4px;

    background-color: $accent-color;

    padding: 10px 28px; 
    cursor: pointer;

    &:focus {
        outline: 1px solid $accent-color; 
    }    
}

.radio-button {

    display: inline-block;

    background-color: #F5F4FA;

    color: $title-text-color;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;

    padding: 6px 22px;
    min-width: 73px;
    height: 38px;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;

    transition:  background-color $animation-timing-function, color $animation-timing-function;

    &:focus {
        outline: 1px solid $accent-color;
    }

        &:hover,
        &:focus {
            background-color: $accent-color;
            color: $primary-white-color;

        }
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.vissually-hidden {

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.socialmedia.list {

    display: flex; 
    padding-bottom: 24px;
    padding-left: 31px;
    padding-right: 31px; 
    justify-content: space-between; 

}

.socialmedia-link {
    fill: #AFB1B8;

    display: inline-block;
    
    padding: 12px 0;
    text-align: center;
    display: block;
    border-radius: 50%;
    width: 44px;
    height: 44px;

    transition:  fill $animation-timing-function;

    &:hover,
    &:focus {

    fill: $primary-white-color;
    background-color: $accent-color; 
    }
}
